.content-permissions {
	margin: 0.5em 0;
	height: 2em;
	visibility: hidden; /* Prevent flicker on load, javascript will make visible when ready */
}
.content-permissions .yui3-menu {
	visibility: hidden; /* Prevent flicker on load, javascript will make visible when ready */
}