/* Adapted from: http://yuiblog.com/sandbox/yui/3.2.0pr1/examples/cssgrids/cssgrids-fluid.html */

.bd {
    padding-right: 250px; /* "right col" width */ 
}
.sd1 {
    margin-right: -250px; /* "right col" width */
    width: 240px;
    margin-left: 10px;
}
.mn {
	width: 100%;
}